*{
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.3s ease-in-out;
}

body{
    margin: 0px;
    padding: 0px;
    height: 100vmax;
    box-sizing: border-box;
    background-color: #252b42;
    background: -webkit-linear-gradient(to bottom, #252b42 40%, #38bcf5 150%);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #252b42 40%, #38bcf5 150%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
}

nav{
    background-color: #252b42;
    height: max-content;
    width: 100%;
    display: inline-flex;
    align-items: center;
    border-bottom: 1px solid grey;
    /* filter: blur(8px); */
}

.title{
    position: relative;
    width: 100%;
    font-size: 35px;
    text-align: center;
    color: #FFDC7F;
    z-index: 1;
    margin: 5px;
}

#main{
    margin-top: 30px;
    width: 100%;
    height: auto;
    display: grid;    
    justify-content: center;
    /* background: radial-gradient(circle at bottom, #001F3F 0%, rgba(255, 255, 255, 0) 75%) */
}

#content_title, #content_subheading{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    max-width: 600px;
}

#content_title{
    background-color: transparent;
    border-right: 1px solid #23a6f0;
    font-size: 50px;
    padding: 2%;
    text-align: center;
}

#content_subheading{
    background-color: transparent;
    border-left: 1px solid #23a6f0;
    width: 80%;
    font-size: 30px;
    padding: 2%;
}

#cta_btn{
    min-height: 60px;
    height: auto;
    max-height: 100px;
    width: auto;
    font-size: 22px;
    margin: 5% 10%;
    color: #fff;
    background-color: hsla(202, 87%, 54%, 0.1);
    border: 1px solid transparent;
    border-bottom: 2px solid #23a6f0;
    border-radius: 5px 5px 0px 0px;
    cursor: pointer;
}

#cta_btn:hover{
    font-size: 24px;
}

#cta_btn:hover{
    background-color: #23a6f0;
    border-bottom: 2px solid transparent;
}

#linkSection{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 4px;
    gap: 10px;
    margin: 0% 35%;
}

#linkSection svg{
    height: 26px;
    width: 26px;
    padding: 4px;
    border-radius: 5px;
    margin: 2px 2px 0px 2px;
}

.linkedIn{
    fill: rgb(10 102 194);
}

.insta{
    background: linear-gradient(
        to right,
        #833ab4,#fd1d1d,#fcb045
    );
}

footer{
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

#error, #loading{
    position: absolute;
    top: 0px;
    background-color: rgb(0, 0, 0);
    color: #b1b1b1;
    height: 100%;
    width:  100%;

    display: none;
    align-items: center;
    justify-content: center;
    z-index: 3;
    margin: 0px;
    padding: 0px;
}

#loading{
    display: flex;
}

#loading .icon{
    height: 80px;
    width: 80px;
}

#error span{
    font-size: larger;
    height: fit-content;
    width: fit-content;
    padding: 10px;
}